.special{
    height: 100vh;
    padding: 30px 0;
    overflow: auto;
    position: relative;
    &__title{
        text-align: center;
    }
    &__btns{
        margin-top: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn{
        width: 163px;
        background: rgba(46, 47, 64, 0.3);
        margin-right: 24px;
        &:last-child{
            margin-right: 0;
        }
        &_active{
            background: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
        }
    }
    &__items{
        margin-top: 26px;
        display: grid;
        grid-template-columns: repeat(3, 345px);
        grid-template-rows: auto;
        gap: 26px;
    }
    &__item{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(46, 47, 64, 0.3);
        backdrop-filter: blur(4px);
        border-radius: 2px;
        &-descr{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
        }
        &-title{
            font-size: 20px;
            font-weight: 500;
            line-height: 160%;
            color: #F8F6FA;
        }
        &-subtitle{
            font-size: 16px;
            line-height: 160%;
            color: #F8F6FA;
            opacity: 0.7;
        }
        &-btn{
            width: 71px;
            height: 51px;
        }
        &-price{
            margin-top: 11px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-title{
                font-size: 16px;
                line-height: 160%;
                color: #F8F6FA;
                opacity: 0.7;
            }
            &-number{
                font-size: 20px;
                font-weight: 500;
                line-height: 160%;
                color: #09F5C4;
            }
        }
    }
    &__ellipse{
        position: absolute;
        width: 678px;
        height: 640px;
        left: -93px;
        top: 296px;
        background: rgba(203, 71, 160, 0.3);
        filter: blur(472px);
        &-second{
            position: absolute;
            width: 731px;
            height: 690px;
            left: 1152px;
            top: 271px;
            background: rgba(0, 255, 133, 0.15);
            filter: blur(472px);
        }
    }
}